* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #eee;
  font-size: 10px;
  font-family: arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 100vh;
  flex-basis: 100%;
}

h1 {
  flex-basis: 100%;
  position: relative;
  margin: 15vh 0;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  text-transform: capitalize;
  color: #197699;
  font-size: 3.5rem;
  cursor: default;
}

button {
  flex-basis: 40%;
  text-align: center;
  background-color: #FF2351;
  color: white;
  font-size: 4rem;
  letter-spacing: 1rem;
  word-spacing: 2rem;
  line-height: 9rem;
  width: 50%;
  border-radius: 2rem;
  box-shadow: 0 0 .5rem .3rem #999;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

section.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  margin-right: 15vw;

}

.card {
  background-color: #197699;
  width: 15%;
  height: 18vh;
  margin: 2% 4%;
}

/* kolor divów: #197699 */